html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right bottom, rgb(154, 207, 223), rgb(100, 216, 89));
}

.hidden{
  display: none !important;
}

#cnv{
  width: 100%;
  height: 100%;
}

.text-secondary{
  color: #666;
}

code{
  color: white;
  background: rgb(236, 72, 72);
  padding: 2px 10px;
  border-radius: 5px;
}

hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 1rem 0;
  width: 100%;
}

button {
  font-size: 18px;
  outline: none;
  border: none;
  color: black;
  background-color: transparent;
  padding: 5px 20px;
  border-radius: 3px;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: rgb(141, 218, 134);
  color: white;
}

button:focus {
  outline: none;
}

#home p{
  margin-bottom: 5px;
}

#home{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 20px 30px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  text-align: center;
}

#home input {
  font-size: 18px;
  outline: none;
  border: none;
  border-bottom: 1px solid #dedede;
  margin-bottom: 5px;
  padding: 3px;
  text-align: center;
}

#home input:focus{
  border-bottom: 1px solid #8d8d8d;
}

#home .content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#home .content .play{
  width: 200px;
  margin-left: 50px;
}

#home .content .connect{
  margin-left: 50px;
}

.ranking{
  position: fixed;
  width: 300px;
  background: #333;
  top: 0;
  left: 0;
  color: white;
  padding: 10px;
}

.ranking table{
  border: 0;
  border-collapse: 0;
  width: 100%;
}

.disconnect{
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 100;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #444;
  font-size: 40px;
}

.delay{
  position: fixed;
  right: 20px;
  top: 10px;
  color: #333;
  font-size: 30px;
}